<header class="fixed-top">    

    <button (click)='onClick()'>
        <!--
          à la place d'afficher directement une icone,
          on affiche un composant
        -->
        <app-icon-close *ngIf='!open'></app-icon-close>
        <app-icon-nav *ngIf='open'></app-icon-nav>
      </button>
      
   </header>
   
   <main [ngClass]="{'close-aside' : open}" >
     <div class="shadow position-fixed">
     </div>
     <aside>
       <div class="scroller">
           <app-nav></app-nav>
   
       </div>
     </aside>
     <div class="page">
       <div class="contents">
   
         <router-outlet></router-outlet>
       </div>
       <footer>
         footer
       </footer>
     </div>
   </main>
