<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink='/orders' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
true}">Liste des commandes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/orders/add' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
true}">Ajouter une commande</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/orders/edit' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
true}">Editer une commande</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/clients' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
true}">Liste des clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/clients/add' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
true}">Ajouter un client</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/clients/edit' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
true}">Editer un client</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/orders/obs' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
  true}">Demo Observable</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/orders/obs-subject' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
    true}">Demo Observable Subject</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/orders/obs-behavior-subject' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
      true}">Demo Observable Behavior Subject</a>
  </li>
</ul>